chromadb
langchain
langchain-core
langchain-community
python-dotenv
pytest
sentence-transformers
PyMuPDF
numpy
youtube-transcript-api
jupyter
notebook
langchain-chroma
pydantic
opencv-python
opencv-python-headless
streamlit
PyPDF2
groq
