chromadb
langchain
langchain-core
langchain-community
python-dotenv
pytest
sentence-transformers
PyMuPDF
numpy
youtube-transcript-api
openai
jupyter
notebook
langchain-chroma
pydantic
opencv-python
opencv-python-headless
langchain-openai
streamlit
PyPDF2
